<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests for chrome" verbose="5" parallel="tests" thread-count="5">
    <parameter name="path" value="https://www.google.com/search?q=what"/>
    <parameter name="browserVersion" value="49"/>
    <parameter name="browserName" value="chrome"/>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Bing">
        <classes>
            <class name="grID.pages.BambooTC15Bing"/>
        </classes>
    </test>
    <test name="Google">
        <classes>
            <class name="grID.pages.BambooTC15GoogleNL"/>
        </classes>
    </test>
    <test name="Yahoo">
        <classes>
            <class name="grID.pages.BambooTC15Yahoo"/>
        </classes>
    </test>
    <test name="TC12">
        <classes>
            <class name="grID.pages.BambooTC12"/>
        </classes>
    </test>
    <test name="TC13">
        <classes>
            <class name="grID.pages.BambooTC13"/>
        </classes>
    </test>
    <test name="Coogle.com">
        <classes>
            <class name="grID.pages.BambooTC15Google"/>
        </classes>
    </test>
</suite>
